:root {
    --accent-color: #2196F3;
    --main-color: #212121;


}
body {font-family: Roboto, sans-serif;
    color: var(--main-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/*--------------------------Header--------------------------------------- */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-part {
  color: var(--main-color);  
}

.navigation .link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}

.navigation-item:hover,
.navigation-item:focus {
color: var(--accent-color);
}

.navigation .navigation-item.current {
    color: var(--accent-color);
}

.contacts .contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--accent-color);
}

/* -------------------Hero--------------------- */
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;  
}

.hero-button:hover,
.hero-button:focus {
    background-color:#188CE8
}

/* ------------------Advantages---------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-item-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.advantages-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* -----------------Activity----------------------- */
.activity-title{
font-size: 36px;
line-height:1.17;
text-align: center;
letter-spacing: 0.03em;
}

/* -----------------Team----------------------- */
.team {
    background-color: #F5F4FA;
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    background-color: #ffffff;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* -------------------------Portfolio------------------------ */
.portfolio-navigation-item .button {
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: #F5F4FA;
    cursor: pointer;
}

.portfolio-navigation-item .button:hover,
.portfolio-navigation-item .button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.portfolio-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.portfolio-list-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}

/* -----------------Footer----------------------- */
.footer {
    background-color: #2F303A;
}

.logo-part-footer {
    color: #ffffff;
}

.address .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: rgba(255, 255, 255, 0.6);
}

.address .link:hover,
.address .link:focus {
    color: #2196F3
} 
.address .address-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

